<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <a href="{{ site.baseurl }}/" class="btn">Return to Home</a>

    </header>

    <main id="content" class="main-content" role="main">

      <h1 class = "page-author">{{ page.title }}</h1>
      <h2 class = "page-author">{{ page.author }}
        <small class = "author-info">
          {% if page.job-title %}
            {{ page.job-title }}
          {% endif %}

          {% if page.job-title and page.affiliation%}
            |
          {% endif %}

          {% if page.affiliation %}
            {{ page.affiliation }}
          {% endif %}

          {% if page.date %}
            {% if page.job-title or page.affiliation %}
              |
            {% endif %}
            Published on
            {{ page.date | date: '%B %d, %Y' }}
          {% endif %}
        </small>
      </h2>
      <blockquote class = "bio">
        {% if page.bio %}
          {{ page.bio }}
        {% endif %}
      </blockquote>

      {% if page.tags %}
        {% assign tags = page.tags | sort %}
        <div id="tagList">
          {% for tag in tags %}
            <span class="btn tag">{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      <footer class="site-footer">
        <p>
          <span class="site-footer-owner">Worldmusictextbook.org is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> at <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>.</span>
        </p>
        <p>
          <span class="site-footer-credits">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0; float:left;margin:0.5rem;" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
            This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution — Non-Commercial — No Derivatives 4.0 International License</a>.<br />
          </span>
        </p>
      </footer>
    </main>
    
    <script data-goatcounter="https://worldmusic.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  </body>
</html>
